<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmp4118AC6D52E8B8B69D7F6C32F68325D8" Guid="*">
        <File Id="fil97769374407AB6582861A06C4DA76F1D" KeyPath="yes" Source="$(var.ContentDir)\README.html" />
      </Component>
      <Component Id="cmp290C4AF8975CE73DC75DA1C734ACCCE4" Guid="*">
        <File Id="filC265276C95A5C66B40DF6304AECFE285" KeyPath="yes" Source="$(var.ContentDir)\README.ja-jp.html" />
      </Component>
      <Directory Id="dir1D6C66B3797B52623E677C76E80EB0A9" Name="Profiles">
        <Component Id="cmp6E3C7E847C93A4F7FBDA7E13EF1414E6" Guid="*">
          <File Id="fil58C4F2F3D681A099738D0FCC67E44B97" KeyPath="yes" Source="$(var.ContentDir)\Profiles\KeyConfig.json" />
        </Component>
        <Component Id="cmpF0B72FD823CE6FE9B2E900671814DDF1" Guid="*">
          <File Id="filB28E4C1BF44BFFD4FFE9AD640CB61F2B" KeyPath="yes" Source="$(var.ContentDir)\Profiles\Profile-1.json" />
        </Component>
        <Component Id="cmpD2F2B8620875CD2F923C7E8CB2EFD20E" Guid="*">
          <File Id="filE9A73CE2A37E6628528880C5936B2AB8" KeyPath="yes" Source="$(var.ContentDir)\Profiles\Profile-2.json" />
        </Component>
        <Component Id="cmp00FBFC6E7EC3D469FAC5799AC64DE3B7" Guid="*">
          <File Id="fil8DCFE03CA0FD69353691873E0357EB46" KeyPath="yes" Source="$(var.ContentDir)\Profiles\Profile-3.json" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="MainComponents">
      <ComponentRef Id="cmp4118AC6D52E8B8B69D7F6C32F68325D8" />
      <ComponentRef Id="cmp290C4AF8975CE73DC75DA1C734ACCCE4" />
      <ComponentRef Id="cmp6E3C7E847C93A4F7FBDA7E13EF1414E6" />
      <ComponentRef Id="cmpF0B72FD823CE6FE9B2E900671814DDF1" />
      <ComponentRef Id="cmpD2F2B8620875CD2F923C7E8CB2EFD20E" />
      <ComponentRef Id="cmp00FBFC6E7EC3D469FAC5799AC64DE3B7" />
    </ComponentGroup>
  </Fragment>
</Wix>