<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PackageType" value=".dev" />
    <add key="UseSharedAppData" value="False"/>
    <add key="ProfilesDirectory" value="Profiles" />
    <add key="Culture" value="" />
    <add key="Revision" value="12345678" />
    <add key="DateVersion" value="0000" />
  </appSettings>
</configuration>